# Node modules
node_modules/
back/node_modules/
client/node_modules/
server/node_modules/
server/serviceAccountKey.json
# Logs
*.log

# Build / Dist folders
dist/
build/

# Environment variables
.env
server/.env

# OS files
.DS_Store
Thumbs.db
